In [1]:
# Скачайте с сайта grouplens.org...movielens/ датасет любого размера. 
# Определите какому фильму было выставлено больше всего оценок 5.0.
# https://grouplens.org/datasets/movielens/25m/

import pandas as pd

rt_fl = 'ratings.csv'
mv_fl = 'movies.csv'

rt_df = pd.read_csv(rt_fl)
mv_df = pd.read_csv(mv_fl)

# rt_df.head()
# mv_df.head()

rt_df.merge(mv_df, on = 'movieId', how = 'inner').query('rating == 5').groupby('title').count().sort_values('rating', ascending = False).filter(items = ['title']).head(1)

Empty DataFrame
Columns: []
Index: [Shawshank Redemption, The (1994)]

In [2]:
# По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) 
# категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity

import pandas as pd

fl = 'power.csv'
df = pd.read_csv(fl)
# df.head()
# df['country'].unique()
#'Lithuania', 'Latvia', 'Estonia'

df[   ( (df['country'] == 'Lithuania') | (df['country'] == 'Latvia')  | (df['country'] == 'Estonia') ) 
    & ( (df['category'] == 4) | (df['category'] == 12) | (df['category'] == 21) )
    & ( df['year'] >= 2005 ) & ( df['year'] <= 2010 )
    & ( df['quantity'] > 0 )]['quantity'].sum()

240580.0

In [3]:
# Выберите страницу любого сайта с табличными данными. 
# Импортируйте таблицы в pandas dataframe. Примеры страниц (необязательно брать именно эти): 
# https://fortrader.org/quotes www.finanz.ru...om-vremeni

import pandas as pd

pg_html = 'https://fortrader.org/currencyrates'
df = pd.read_html(pg_html, encoding = 'utf-8')
df

[    Код  Количество                 Название       RUB  Изменение
 0   USD           1               Доллар США   72.7857    -0.0867
 1   EUR           1                     Евро   86.4112    -0.1466
 2   CNY           1           Китайский юань   11.2631    -0.0086
 3   GBP           1          Фунт стерлингов  101.3541    -0.0697
 4   TJS          10        Таджикский сомони   63.8191    -0.0760
 5   KZT         100      Казахстанский тенге   17.1482    -0.0265
 6   TRY          10            Турецкая лира   86.2022    -1.3007
 7   PLN           1          Польский злотый   18.9507    -0.0666
 8   BYN           1        Белорусский рубль   28.9475    -0.1630
 9   UAH          10        Украинская гривна   27.0561    -0.1046
 10  UZS       10000            Узбекский сум   68.3660    -0.0331
 11  KGS         100           Киргизский сом   85.9006    -0.0819
 12  AMD         100           Армянский драм   14.8770    -0.0086
 13  JPY         100            Японская иена   66.6536    -0.0763
 14  CHF           1        Швейцарский франк   80.3907    -0.1313
 15  CZK          10            Чешская крона   33.9201    -0.0610
 16  CAD           1         Канадский доллар   58.0613    -0.1807
 17  AZN           1    Азербайджанский манат   42.8403    -0.0510
 18  KRW        1000     Вон Республики Корея   63.6353     0.1523
 19  SEK          10           Шведская крона   84.5922    -0.3496
 20  INR         100          Индийская рупия   98.1005    -0.0402
 21  HUF         100        Венгерский форинт   24.3235    -0.0432
 22  NOK          10         Норвежская крона   82.5853    -0.4214
 23  AUD           1     Австралийский доллар   53.9633     0.1106
 24  BGN           1           Болгарский лев   44.1072    -0.1518
 25  MDL          10           Молдавский лей   40.7763     0.0199
 26  DKK           1            Датская крона   11.5995    -0.0376
 27  SGD           1      Сингапурский доллар   53.9393    -0.0083
 28  RON           1            Румынский лей   17.5400    -0.0599
 29  BRL           1         Бразильский реал   14.0040    -0.0746
 30  TMT           1  Новый туркменский манат   20.8257    -0.0248
 31  XDR           1                      СДР  103.9678    -0.0845
 32  ZAR          10     Южноафриканский рэнд   51.0326     0.2299]